<ng-container *ngFor="let alert of alerts; index as i">
  <clr-alert [clrAlertType]="alert.type" (clrAlertClosedChange)="onCloseAlert(i)">
    <clr-alert-item>
          <span class="alert-text">
            {{ alert.message | translate }}
          </span>
    </clr-alert-item>
  </clr-alert>
</ng-container>
<ng-container *ngIf="isLoading || isLoadingPlugins">
  <span class="spinner page-center">
    {{ 'LOADING' | translate }}
  </span>
</ng-container>
<ng-container *ngIf="!isLoading && !isLoadingPlugins">
  <div class="clr-row">
    <div class="clr-col-md-6">
      <iframe [src]="getDiscordGuildWidget() | safe: 'resourceUrl'" width="350" height="500"
              allowtransparency="true" frameborder="0"
              sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    <div class="clr-col-md-6">
      <div class="clr-col-md-6">
        <h4>Selected guild: {{guild.name}}</h4>
        <p>Custom commands plugin: {{ customCommandsPlugin.isEnabled ? 'Enabled' : 'Disabled' }}</p>
        <p>Moderation plugin: {{ autoModPlugin.isEnabled ? 'Enabled' : 'Disabled' }}</p>
        <p>Guild members: {{ guild.members.length }}</p>
      </div>
    </div>
  </div>
</ng-container>
<clr-modal [(clrModalOpen)]="isPatchNotesModalOpen" [clrModalSize]="'lg'" #patchNotesModal *ngIf="patchNotesLoaded">
  <h3 class="modal-title">{{ 'WHAT_IS_NEW' | translate }} {{ activePatchNote.commitId ? '(' + activePatchNote.commitId + ')' : '' }}</h3>
  <div class="modal-body">
    <div [innerHTML]="activePatchNote.content | SafePipe"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="handleViewNextUnseenPatchNote()">{{ unseenPatchNotes.length === 1 ? 'OK' : 'NEXT' | translate }}</button>
  </div>
</clr-modal>
